.question__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-top: 150px;
}
.question__item{
  display: flex;
  align-items: center;
}
.question__item--title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #f7654a;

}
.question__item--text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
}
.question__text{
  width: 700px;
}
.question__icon{
  padding-right: 10px;
}